<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button clear color="dark" icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ label }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar #search type="text" id="search" [(ngModel)]="displayedItemValue" (ionInput)="inputOnSearchbar(true)" (ionFocus)="inputOnSearchbar(false)"
    (ionBlur)="onBlur()" [placeholder]="label"></ion-searchbar>
  <ion-list [virtualScroll]="results">
    <ion-item text-wrap *virtualItem="let item" tappable (click)="selectSearchResult(item)" [innerHTML]="display(item) | mvSafeHtml">
    </ion-item>
    <ion-item (click)="selectCustomItem()" *ngIf="allowCustom && customEnabled && displayedItemValue">
      <p style="color: #606060; font-style: oblique">{{ displayedItemValue }}</p>
    </ion-item>
  </ion-list>
  <div *ngIf="(!list || list.length === 0) && !allowCustom" class="loading" text-center>
    <ion-spinner></ion-spinner>
  </div>
  <!-- some html element is needed by maps API to "display" attribution when no maps is generated -->
  <p id="attribution"></p>
</ion-content>
